@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root {
    --header-blue: #08161d;
    --sidebar-blue: rgba(8, 22, 29, 0.9);
    --dark-blue: #0f2027;
    --mid-blue: #203a43;
    --light-blue: #2c5364;
    --button-green: #198754;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

/* header */
header {
    background-color: var(--header-blue);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* logo */
header .logo {
    min-width: 200px;
    margin: 10px;
    text-align: center;
}

header h1 {
    font-size: 43px;
    font-weight: 400;
}

/* burger */
.burger {
    display: none;
    cursor: pointer;
    transition: all 0.6s ease;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 8px;
    transition: all 0.25s ease;
}

/* nav */
header .nav-container {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav li a {
    align-self: center;
    font-size: 17px;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 6px;
}

/* nav form */
nav form {
    display: flex;
}

nav form input {
    width: auto;
    height: 37px;
    padding: 7px;
    border-radius: 7px;
    font-size: 16px;
    border: 1px solid whitesmoke;
}

nav form button {
    width: 76px;
    height: 37px;
    color: var(--button-green);
    font-size: 17px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--button-green);
    padding: 7px;
    margin-left: 4px;
}

/* nav hover */
li a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--header-blue);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
}

nav form button:hover {
    background-color: var(--button-green);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

/* -------------------------- */
/* main */
main {
    display: flex;
    flex-direction: row;
}

/* genres and filter */
.filter {
    margin: 10px 0 5px 5px;
    border-radius: 7px;
    background-color: var(--sidebar-blue);
    flex-basis: 170px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 25px;
    padding-left: 10px;
}

.filter h3 {
    font-size: 20px;
}

.filter ul {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 8px;
    padding-left: 3px;
}

.filter ul li {
    margin: 5px 0;
}

.genres li a {
    padding: 3px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 6px;
}

/* movies */
.right-side {
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    position: relative;
    width: 250px;
    margin: 12px;
    border-radius: 10px;
    background-color: var(--header-blue);
    overflow: hidden;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.664);
}

.movie img {
    width: 100%;
    cursor: pointer;
}

.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px 7px 10px;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.movie-info span {
    padding: 3px 7px;
    font-size: 17px;
    font-weight: 600;
    background-color: var(--mid-blue);
    border-radius: 4px;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black;
    max-height: 60%;
    padding: 11px;
    transform: translateY(101%);
    transition: transform 0.15s ease-in;
}

.overview h3 {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 3px;
}

.overview .overview-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 5px;
}

.overview-info span {
    color: var(--dark-blue);
    font-weight: 600;
    padding: 4px 7px;
    border: 1px solid var(--dark-blue);
    border-radius: 6px;
    cursor: pointer;
}

/* movie hover */
.movie:hover .overview {
    transform: translateY(0);
}

.movie:hover img {
    filter: blur(2px);
    transform: scale(103%);
}

.overview-info span:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.664);
}

::selection {
    background-color: var(--button-green);
}

/* responsive */
@media screen and (max-width:990px) {
    header {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    header .burger {
        display: inline-block;
        position: absolute;
        right: 22px;
        top: 12px;
    }

    header .nav-container {
        width: 100%;
        height: 0;
        background-color: var(--header-blue);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.3s;
        overflow: hidden;
    }

    nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.3s;
        opacity: 0;
        transform: translateX(-100%);
    }

    nav ul li {
        align-self: flex-start;
        margin: 5px 0;
    }

    nav form {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 15px 5px;
        opacity: 0;
    }

    nav form input {
        width: 100%;
        margin-right: 3px;
    }

    nav form button {
        margin-right: 10px;
    }

    /* main filter */
    .filter {
        flex-basis: 68px;
        flex-shrink: 0;
        transition: 0.4s;
    }

    .filter ul,
    .filter h3 {
        opacity: 0;
        transform: translateX(-300%);
        transition: 0.3s;
    }

    .filter .burger {
        display: inline-block;
        position: relative;
        margin-top: -15px;
        left: 0px;
        top: 0px;
    }

    /* active class for toggle */
    .nav-container.active {
        height: 270px;
    }

    .nav-container.active ul {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-container.active form {
        opacity: 1;
    }


    .filter.active-filter {
        flex-basis: 145px;
    }

    .filter.active-filter ul,
    .filter.active-filter h3 {
        opacity: 1;
        transform: translateX(0);
    }

    /* burger animate  */
    .burger.active {
        transform: rotate(360deg);
    }

    .burger.active .line1 {
        transform: rotate(45deg) translateX(7px) translateY(8.5px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(-45deg) translateX(7px) translateY(-8.5px);
    }
}


/* The Overlay (background) Copied from w3schools */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, 
  change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}